/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

.header-content {
    display: flex;
    align-items: center;
    cursor: pointer; /* 클릭 가능함을 나타내는 커서 스타일 */
}

.header-logo {
    height: 50px;
    margin-right: 10px; /* 로고와 텍스트 사이의 간격 */
}

.header-title {
    font-size: 20px; /* 텍스트 크기 */
    color: #6d6d6d; /* 텍스트 색상 */
    /* 필요한 경우 추가 스타일링 */
}

.menu-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header-logo {
        height: 40px;
    }
    .header-title {
        font-size: 16px; /* 모바일 뷰에서 텍스트 크기 조절 */
    }
}
